@font-face {
    font-family: 'feather'; 
    src: url('../fonts/fa-regular-400.woff2') format('woff2');
    font-weight: normal; 
    font-style: normal;  
    font-display: swap;
}

* {
    font-family: 'feather', sans-serif;
}

.notification-dot, .notification-access {
    width: 18px;
    height: 18px;
    background-color: #754ffe;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    right: 2px;
    border: 3px solid white;
}

.notification-access {
  background-color: #1fcc99;
  top: 38px;
  right: -1px;
}

.bg-hero {
  background-color: #7550fe;
}

.btn-custom {
   background-color: #1fcc99;
   color: #ffffff;
}

.icon-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ffeeda;
    display: flex;
    align-items: center;
    justify-content: center;
}

.level-indicator {
    display: inline-flex;
    gap: 2px;
    align-items: flex-end;
    vertical-align: bottom;
}

.level-indicator span{
    width:4px;
    border-radius:2px;
}

.level-indicator span:nth-child(1){
    height:10px;
}

.level-indicator span:nth-child(2){
    height:14px;
}

.level-indicator span:nth-child(3){
    height:18px;
}

.advanced span{
    background: #7550fe;
}

.intermediate span{
    background:#dee2e6;
}

.intermediate span:nth-child(1),
.intermediate span:nth-child(2){
    background:#7550fe;
}

.beginner span{
    background:#dee2e6;
}

.beginner span:nth-child(1){
    background:#754ffe;
}

#carouselReviews {
    position: relative;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 50%;
    border: rgb(218, 218, 218) solid 1px;
    opacity: 1;
    z-index: 10;
}

.carousel-control-prev { left: -18px; } 
.carousel-control-next { right: -18px; }

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
    width: 14px;
    height: 14px;
}

#carousel .container {
    overflow: visible;
}

@media (min-width: 992px) {
    .carousel-control-prev { left: -45px; }
    .carousel-control-next { right: -45px; }
}
